body
{
    margin: 25px 50px 75px 100px;
    background-color: lightcyan;
}

#Title
{
    text-align: center;
    padding-left: 10px;
    font-size: 50px;
}

ul
{
    color: red;
}

h1
{
   font-family: 'Copperplate Gothic', sans-serif; 
}

.Headlines
{
    font-family: Verdana, 'Times New Roman', Times, serif;
}

#Tip
{
    color: darkorange;
}

#GIF
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img
{
    border: 5px solid #000000
}

.Headlines{
    color: blue;
}